@use '/src/scss/config' as *;

.cart {
  border: 1.5px solid $clr-prim-main;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  background-color: white;
  padding: 1.5rem;
  padding-top: 1rem;
  border-radius: 0.5rem;
  top: 4rem;
  z-index: 1;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  .cart_header {
    width: 100%;
    border-bottom: 1px solid $clr-nt-200;
    padding-bottom: 1rem;
  }

  .cart_item_container {
    flex-direction: column;
  }

  .cart_text--empty {
    align-self: center;
    margin: 3rem 0 3.5rem 0;
    font-weight: $font-weight-bold;
  }

  .cart_item {
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
    
    .item_text {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
      overflow: hidden;

      .item_name {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
      }
    }

    .item_thumbnail {
      width: 3rem;
      border-radius: 0.3rem;
    }
  }
}