@use '/src/scss/config' as *;

main {
  max-width: 650px;
}

.images_main {
  position: relative;
  height: 325px;
  overflow: hidden;

  .image--main {
    display: none;
  }

  #mainImgContainer:hover {
    cursor: pointer;
  }

  .mainImgContainer {
    

    img {
      object-fit: contain;
      max-height: 400px;
      width: 100%;
    }
  }

  .icon--container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid $clr-prim-light;

    .icon {
      width: 0.5rem;
    }
  }

  .icon--container--left {
    left: 5%;
  }

  .icon--container--right {
    right: 5%;
  }
}

.thumbnail--container:hover {
  cursor: pointer;

  img {
    filter: brightness(80%);
  }
}

.product {
  margin-bottom: 2rem;
}

.product_details {
  width: 90%;
}

.details_text {
  margin: 1rem 0;

  //margin on children with sibling
  > * + * {
    margin-top: 0.75rem;
  }

  h1 {
    font-size: 1.7rem;
    line-height: 1.1;
  }

  .text_brand {
    color: $clr-prim-main;
    font-weight: $font-weight-bold;
    font-size: 0.8rem;
  }
}

.details_prices {
  justify-content: space-between;
  margin-bottom: 1rem;

  .price {
    font-weight: $font-weight-bold;
  }

  .price--current {
    font-size: 1.5rem;
  }

  .price--old {
    color: $clr-nt-200;
    text-decoration: line-through;
  }

  .price--deal {
    color: $clr-prim-main;
    background-color: $clr-prim-light;
    padding: 0 0.35em;
    border-radius: 0.25rem;
  }
}

.action {
  border-radius: 0.5rem;
  font-weight: $font-weight-bold;
  width: 100%;
  padding: 0.75rem 0;
  height: 3rem;
}

.action_btn {
  background-color: inherit;
  width: 3rem;
}

.actions_addBtn {
  background-color: $clr-prim-main;
  color: $clr-prim-light;
  justify-content: center;
}

.details_actions {
  flex-direction: column;

  .actions_count {
    background-color: $clr-nt-150;
    justify-content: space-around;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}