@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$clr-prim-main: hsl(26, 100%, 55%);
$clr-prim-light: hsl(25, 100%, 94%);

$clr-nt-modal-bg: hsla(0, 0%, 0%, 0.75);
$clr-nt-800: hsl(220, 13%, 13%);
$clr-nt-400: hsl(219, 9%, 45%);
$clr-nt-200: hsl(220, 14%, 75%);
$clr-nt-150: hsl(223, 64%, 98%);
$clr-nt-100: hsl(0, 0%, 100%);

$font-size-default: 16px;
$ff-prim: 'Kumbh Sans', sans-serif;
$font-weight-default: 400;
$font-weight-bold: 700;