@use '/src/scss/config' as *;

html {
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  line-height: 1.4;
}

* {
  font-family: $ff-prim;
  color: $clr-nt-400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: $clr-nt-800;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

a:hover {
  border-bottom: 2px solid $clr-prim-main;
  cursor: pointer;
}

.center {
  margin: 0 auto;
}

.icon {
  max-width: 1.7rem;
}

.icon--white {
  filter: brightness(0) invert(1);
}

.basic-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav_links,
.images_thumbnails {
  display: none;
}

.page-mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.hidden {
  display: none !important;
}